# ignore docker image dependencies
*.tar.gz
sonar*.zip

# ui
node_modules/
bower_components/
__MACOSX/
coverage
node/
npm/
node_tmp
npm-debug.log
dist/
*.eslintcache

.gradle
.gradletasknamecache
*target

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

*.DS_Store

# File Upload Directory
modules/registration/api/applicant/
.docker
/.nb-gradle/
