<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <!-- property configs -->
  <springProperty name="APP_NAME" source="spring.application.name"/>
  <springProperty name="GRAYLOG_HOST" source="graylog.host"/>
  <springProperty name="GRAYLOG_PORT" source="graylog.port"/>
  <springProperty name="GRAYLOG_PROTOCOL" source="graylog.protocol"/>

  <!-- appender configs -->
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <appender name="GELF" class="de.appelgriepsch.logback.GelfAppender">
    <server>${GRAYLOG_HOST:-localhost}</server>
    <port>${GRAYLOG_PORT:-12201}</port>
    <protocol>${GRAYLOG_PROTOCOL:-UDP}</protocol>
    <includeSource>true</includeSource>
    <includeMDC>true</includeMDC>
    <includeStackTrace>true</includeStackTrace>
    <includeLevelName>true</includeLevelName>
    <additionalFields>app=${APP_NAME:-crss_app}</additionalFields>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="GELF"/>
  </root>

  <!-- library log levels -->
  <logger name="org.springframework" level="INFO"/>
  <logger name="org.hibernate" level="INFO"/>

  <!-- application log levels -->
  <logger name="com.pemc.crss" level="DEBUG"/>

</configuration>
